.App {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

.PostForm {
  margin-bottom: 20px;
}

.PostBox {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.Post {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
}

.PostButton {
  background-color: #094581;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.LikeButton {
  cursor: pointer;
  color: #0073e6;
}